 #nav{
    margin-left: -15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    background-color: white;
    height:50px;
    color: white;
    width:15x;
 }
}
 ul{
    list-style: none;
    margin-left: 450px;
    color:white; 
 
}
.btn{
    background-color:black;
    
}
body{
   margin-top: 150px; 
}
img{
    /* width: 500px; */
    /* height: 300px; */
}

.first{
    background-color: #cccfff;
}
.text{
    margin-top: 5em;
}